@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
  color: #fff;
  background: url(../img/microphone.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #333;
}

.row {
  margin-bottom: 10px;
}

.no-visible {
  display: none;
}

.main-container {
  width: 100%;
}

.search-container {
  margin-top: 10px;
  margin-bottom: 50px;
}

form input[type="search"] {
  font-size: 1.5em;
  text-align: center;
  font-weight: 200;
  border-radius: 0px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #f5f5f5;
  color: #2ebd59;
}

form input[type="search"]::-webkit-input-placeholder {
   color: #f5f5f5;
}

.form-control:focus {
  border: 0;
  border-bottom: 1px solid #fff;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-transparent {
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  opacity: 0.8;
}

.no-results {
  padding-top: 100px;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  font-size: 2.5em;
  font-weight: 200;
  color: #2ebd59;
}

.btn-play {
  cursor: pointer;
  color: #2ebd59;
}

.btn-play:hover {
  opacity: 0.8;
}

.track-wrapper {
  margin: 0 auto;
  text-align: center;
}

.track-wrapper .img-wrapper {
  width: 100%;
  height: 100%;
}

.track-wrapper img {
  max-width: 90%;
}

.track-wrapper .title {
  font-size: 1.6em;
  font-weight: 300;
}

.track-wrapper .artist {
  font-size: 1.2em;
  font-weight: 100;
  max-width: 80%;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.seekbar {
  margin-top: 5px;
  width: 100%;
}

progress {
  width: 100%;
  height: 5px;
  padding: 0;
  background-color: #f5f5f5;
  position: relative;
  border: 0;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background-color: #f5f5f5;
}

progress::-webkit-progress-value {
  background-color: #2ebd59;
}

progress::-moz-progress-bar {
  background-color: #2ebd59;
}

.playlist-wrapper {
  margin: 0 auto;
  max-width: 90%;
}

.playlist-wrapper ul {
  list-style: none;
}

.playlist-wrapper ul li {
  margin-bottom: 15px;
}

.playlist-wrapper ul li:hover {
  cursor: pointer;
  opacity: 0.8;
}

.playlist-wrapper ul li.active {
  color: #2ebd59;
}

.playlist-wrapper .title {
  font-size: 1.2em;
  font-weight: 200;
  padding-right: 10px;
  vertical-align: text-bottom;
}

.playlist-wrapper .artist {
  font-size: 0.8em;
  font-weight: 100;
  max-width: 80%;
  vertical-align: text-bottom;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

footer {
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: 100;
  text-align: center;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #2ebd59;
}
