<!doctype html>
<html>
<head>
  <title>Taks | ToDo app</title>
</head>
<body>
  <h1>New task</h1>
  <form action="/create_task" method="POST">

    <p>Introduce your task, please</p>
    <input type="text" name="content" placeholder="Describe your taks">
    <button type="submit">Create</button>
  </form>
</body>
</html>
