<!doctype html>
<html>
<head>
  <title>New post | Blog</title>
</head>
<body>
  <h1>New post</h1>
  <form action="/create_post" method="POST">
    <input type="text" name="title" placeholder="Title">
    <textarea rows="4" cols="50" name="text" placeholder="Your text..." ></textarea>
    <input type="text" name="author" placeholder="Your name">
    <input type="text" name="category" placeholder="Category">

    <button type="text">Create</button>
  </form>
</body>
</html>
