.main-container {
  width: 500px;
  height: 500px;
}

.main-container div {
  float: left;
  width: 10%;
  height: 10%;
  box-sizing: border-box;
  border: 1px solid white;
  cursor: pointer;
}

.pixel {
  background-color: DeepSkyBlue;
}

.active {
  background-color: black;
}

.head {
  background-color: coral;
}

.body {
  background-color: yellow;
}
