.main-container {
  width: 98%;
  height:98%;
  position: absolute;
}

.message-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4em;
  color: white;
  width: 100%;
  height: 100%;
  position: relative;
}

.message-container.background-dark {
  background-color: rgba(0, 0, 0, 0.7);
}

.message-container.background-light {
  background-color: rgba(0, 0, 0, 0.4);
}

.message-container span {
  border: 5px solid white;
  padding: 20px;
  text-align: center;
  top: 50%;
  left: 50%;
  position: absolute;
  margin: auto;
  transform: translate(-50%, -50%);
}

.flickr.slow {
  animation: toggleOpacity 3s linear infinite;
}

.flickr.fast {
  animation: toggleOpacity 0.5s linear infinite;
}

@keyframes toggleOpacity {
  0% { opacity: 0.85; }
  50% { opacity: 0.5; }
  99% { opacity: 0.1; }
}

.main-container div {
  float: left;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid white;
  cursor: pointer;
}

.no-visible {
  display: none;
}

.cell {
  background-color: DeepSkyBlue;
}

.active {
  background-color: black;
}

.snake {
  background-color: coral;
}

.food {
  background-color: yellow;
}
