<h2>Products</h2>
<ul>
  <%@products.each do |product|%>
    <li>
      <span>
        <%= link_to product.title, product_path(product) %>
        <small>
          <%=product.deadline%>
        </small>
      </span>
    </li>
  <%end%>
</ul>
<%= link_to "add product", new_product_path() %>
