<h1>Welcome Word Central</h1>
<p>Your destination for text utilities.</p>
<a href="/text_inspection/new">new text inspection</a>
<a href="/asciis/new">new asciis</a>
<a href="/quotes/new">new quotes</a>
