<footer>
  <div class="container navbar-fixed-bottom">
    <div class="copyright">
      <span>© 2016 David Santos Merino | All rights reserved</span>
    </div>
    <ul class="navbar-nav footer">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</footer>
